<nav>
    <div class="home">
        <a href="/">Home</a>
    </div>
    <div class="newUsers">
        <a href="/users/new">Add New User</a>
    </div>
    <div class="usersAll">
        <a href="/users/all">Show All Users</a>
    </div>
    <div class="newMeetings">
        <a href="/meetings/new">Add New Meetings</a>
    </div>
    <div class="meetingsAll">
        <a href="/meetings/all">Show All Meeting</a>
    </div>
</nav>