<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/mainstyles.css">
    <title>Home Page</title>

    <style>
        .heading {
            margin: 10px;
        }
    </style>

</head>

<body>
    <%- include ('partials/navbar.ejs') %>

        <div class="container">
            <header class="heading">
                <h2> IEEE Interview Assignment</h2>
            </header>
            <div class="heading">
                <h2> Submitted To IEEE Seniors</h2>
            </div>
            <div class="heading">
                <h2> Showing Home Page</h2>
            </div>
        </div>

        <%- include ('partials/credentials.ejs') %>
</body>
<script src="/navbar.js"></script>


</html>